# ── BACKEND .env ──────────────────────────────────────────────
SARVAM_API_KEY=sk_ul17vbuo_8zk4MH9tJjco69CkX860wZwC
GEMINI_API_KEY=AIzaSyDWVjZHC-0tdbbrB1FwSgxIDfGURW5J3v0
SUPABASE_URL=https://vpzcbkrbglutgtwhvjby.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZwemNia3JiZ2x1dGd0d2h2amJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2Nzg5MTMsImV4cCI6MjA5MjI1NDkxM30.CwQUqetg3P63FBoIPnhmd-itLX715s2WfFRMj81aKS0
EMBEDDING_MODEL_NAME=sentence-transformers/paraphrase-multilingual-mpnet-base-v2
RAG_SIMILARITY_THRESHOLD=0.60
RAG_TOP_K=5
MAX_RESPONSE_WORDS=150
ENVIRONMENT=development
